// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h2{
  font-weight:      600;
  font-family:      'Montserrat', sans-serif;
  padding-right:    3px;
  font-size:        24px;
  margin:           0;
}
h3{
  font-size :     12px;
  font-weight:    600;
  font-family:    'Montserrat', sans-serif;
  padding-right:  3px;
  margin :        0;
}
h4{
  font-size:    12px;
  font-weight:  400;
  font-family:  'Montserrat', sans-serif;
  color:       #7e7e7e;
  margin:        0;
  margin-right:  25px;

}
h5{
  font-size:    12px;
  font-weight:  600;
  font-family: 'Montserrat', sans-serif;
  color:      #7e7e7e;
  margin:       0;
  width:        max-content;
}
