h1{
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  color: #b3c0fc;
  width: 150%;
}
.container{
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left : 15px;

}
.bg{
  background-color: #f1f3fc;
  box-shadow: 20px 20px 35px #d4ddff;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
}
.bg img{
  width: fit-content;
  height: 100%;
}
.titre{
  font-size: 60px;
  font-family: 'Nanum Myeongjo', serif;
  padding : 5%;
}
.bouton_home {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.bouton_home a{
  font-family: 'Poppins', sans-serif;
  background-color: #b3c0fc;
  font-size: 13px;
  text-decoration: none;
  padding: 8px;
  margin: 10px 15px;
  color : #636e9c;
}

.bouton_home a :hover{
  background-color: #6c80d8;
  color : white;
}

.hire_me a{
  color : white;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
