// Specific CSS for your home-page
body {
  background : rgb(255, 255, 255);
  height: 100vh;
}
h2{
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding-right: 3px;
  font-size: 24px;
  margin: 0;
}
h3{
  font-size : 12px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding-right: 3px;
  margin : 0;
}
h4{
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #7e7e7e;
  margin: 0;
  margin-right: 25px;

}
h5{
  font-size: 12px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #7e7e7e;
  margin: 0;
  width: max-content;
}
.container{
  position: relative;
  height: calc(100vh - 50px);
  width: 65vw;
  margin: 0;
  padding : 5px;
}
.search {
  position: relative;
  background : $grey;
  width: 80%;
  height : 50px;
  margin : 0px auto 30px auto;
  top : 15px;
  background: #7e7e7e;
}
.list{
  // background : green;
  width : 80%;
  height : 80%;
  margin : 20px auto 0px auto;
  position: relative;
  overflow-y: scroll;
}
.container_card{
  display: flex;
  align-items: center;
}
.cards{
  background : white;
  height : 60px;
  width : 100%;
  margin : 20px auto;
  border-radius : 5px;
  box-shadow: 0px 2px 5px $box-shadow;
  display:flex;
  flex-direction: column;
  padding-top: 5px ;
}
.thumbnail img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left : 5px;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px;
  width: 60%;
}
.full_name{
  display: flex;
}
.language_prog{
  display:flex;
  align-items: center;
  width: 50%;
}
.work_zone{
  width: 40%;
}
.hire_me{
    font-size: 8px;
    width: 30%;
    margin: 0 30px;
    padding: 5px;
    background: #1edd88;
    text-align: center;
    border-radius: 5px;
}
.hire_me:hover{
    background: #18b66f;
}
.hire_me a{
  color : white;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}
#map {
  background: green;
  position: absolute;
  width: 50%;
  top: 50px;
  height: calc(100vh - 50px);
  left: 50%;
}
