.container_show{
  width: 70%;
  margin: 30px auto;
}

.navbar_user{
  background: #b3c0fc;
  height: calc(100vh - 8vh);
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position : absolute;
}
.navbar_user h4 {
  margin-bottom: 35px;
  color : white;
  text-decoration: none;
}
.navbar_user h4 {
  text-decoration: none;
}

.btnPopup{
background-color: orangered;
padding: 1em 2em;
cursor: pointer;
}

.btnPopup:hover{
background-color: rgb(192, 192, 192);}

.overlay {
position: fixed;
left: 0px;
top:0px;
background-color: rgba(0,0 ,0 , 0.5);
width: 100%;
height: 100%;
z-index:1;
display:none;
}

.popup{
margin: 10% auto;
width : 70%;
background-color: rgb(243, 243, 243);
padding: 1em;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
border-radius: 5px;
}
