<div class="container">
  <div class="bg">
    <div class="titre">
      <h1>Cet homme pourrait remplir vos tâches</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat totam eius laudantium odio quasi quibusdam, rem quia quae labore, quam, dolorem cupiditate magni saepe vel beatae minima veritatis harum inventore?</h3>
    <div class="bouton_home">
      <%= link_to "Je veux recruter !", developers_path %>
      <%= link_to "Mes devs préférés !", developers_path  %>
    </div>
    </div>
    <%= image_tag "dev.png" %>
  </div>
</div>
