.hire_me{
    font-size:  8px;
    width:      40%;
    margin:     0 30px;
    padding:     5px;
    background: #1edd88;
    text-align: center;
    border-radius: 5px;
}
.hire_me:hover{
    background: #18b66f;
}
.hire_me a{
  color : white;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
