.hire_me{
    font-size:  8px;
    width:      40%;
    margin:     0 30px;
    padding:     5px;
    background: #b3c0fc;
    text-align: center;
    border-radius: 5px;
}
.hire_me:hover{
    background: #848fbe;
    a{
      color : white;
    }
}
.hire_me a{
  color: #44559e;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
