.profil{
  width:    45%;
  height:   550px;
  position: relative;
  padding: 5%;
}
.container_profil{
  display:        flex;
  flex-direction: column;
  align-items:    center;
}

.user_description{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 25px 0;
}
.user_thumbnail{
  margin-left: 10px;
}
.user_thumbnail img{
  width:          80px;
  height:         80px;
  border-radius:  50%;
  object-fit:     cover;
}
.user_presentation{
  margin-left: 10px;
}
.full_name{
  display: flex;
}
.experiences{
  display:      flex;
  align-items:  center;
}
.position_buton{
  position: relative;
  top: 20px;
  left: 130px;
}
