

#map {
  background-image: url(https://images.unsplash.com/photo-1593281528163-311d58047de8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjIxfHxjb3VjaCVDMyVBOSUyMGRlJTIwc29sZWlsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
}


// popul preview

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#map {
  position: sticky;
  height:   100vh;
  top:      0;
}
