.reviews{
  margin-top : 20px;
  width : 100%;
  height: calc(100vh - 35vh);
}

.titre_review{
  width: 60%;
  height: 30px;
  background: rgb(143, 142, 142);
}

.description_review{
  width: 100%;
  height: 150px;
  background: rgb(66, 66, 66);
  margin-top: 20px;
}
