.reviews{
  width: 70%;
  height: calc(100vh - 35vh);
}

.titre_review{
  width: 60%;
  height: 30px;
}

.description_review{
    width: 100%;
    margin: 20px 0px;
}
.titre_review{
background-color: #ebeefd;
font-weight: 600;
padding-left : 2%;
}
.description_review{
  background-color: #cad1f7;
  margin-bottom : 25px;
}
